#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 100rem;
    padding-left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.skillBarImage {
    max-width: 6rem;
}
.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0rem;
    padding-left: 6vw;
    margin-bottom: 1.5rem;
}
.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem auto;  /* auto left/right margins center the container */
    width: 80%;           /* use a percentage width */
    text-align: center;   /* center text inside */
    display: flex;
    flex-direction: column;
    align-items: center;  /* center child elements horizontally */
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    justify-content: center;  /* center the content horizontally */
    align-items: center;      /* center vertically */
}
.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.skillBarText {
    font-size: 0.95rem;
    font-weight: 200;
    margin-left: 2rem;
}

@media screen and (max-width:720px) {
    .skillBarText {
        font-size: 2vw;
    }
    #skills {
        padding-left: 0vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText {
        font-size: 2vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}