.subpage {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.info-box {
    width: 100%;
    max-width: 1050px;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 7rem;
    text-align: left;
    box-sizing: border-box;
}

.topic {
    margin-bottom: 3rem;
}