#works {
    min-height: calc(100vh - 4rem);
    width: 95vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    margin-top: 5rem;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 49rem;
    margin-bottom: 1.5rem;
}

.worksImgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}

.worksImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.workBtn1 {
    border: none;
    border-radius: 2rem;
    padding: 0.8rem;
    padding-left: 55.5px;
    padding-right: 55.5px;
    background: white;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: block;
    font-size: 20px;
}

.workBtn2 {
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    background: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0 0;
    max-height: 4rem;
    cursor: pointer;
}

.githubLogo {
    object-fit: cover;
    height: 3rem;
    width: 10rem;
    max-width: 100%;
    min-width: 5rem;
    padding: 0.1rem;
    padding-left: 0rem;
    justify-content: center;
}

@media screen and (max-width: 585px) {
    .worksImg {
        height: 48vw;
    }
}