#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 1rem;
    right: 3rem;
    object-fit: cover;
    height: 60vh;
    border-radius: 1rem;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: lightskyblue;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    display: inline-flex;
    align-items: center; /* vertically centers content */
    justify-content: center; /* optional, centers horizontally */
    background: white;
    margin: 2rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    font-weight: 600;
}


.btnImg {
    object-fit: cover;
    margin: 0 0.4rem;
    height: 1rem;
    vertical-align: middle; /* add this */
}


@media screen and (max-width:840px) {
    .bg {
        right: 1vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }
}